@charset "UTF-8";

@font-face{
    font-family: "Eu";
    src: url('fontes/idroid.otf');
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(144, 223, 183);
    margin: 0px;
}

a.externo::after{
    content: '\00A0\1F517';
}

a{
    text-decoration: none;
}

header{
    color: white;
    text-align: center;
    background-image: linear-gradient(360deg,#1A5C38 10%,#247C4B,#35BC71);
    font-family: 'Bebas Neue',sans-serif;
    height: 142px;
    
}

header > p{
    width: 395px;
    height: 41px;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 15px;
}

header > h1{
    margin: 0px;
    padding-top: 24px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.411);
}

nav{
    text-align: left;
    margin: 0px;
    background-color: #1A5C38;
    padding: 5px;
    padding-top: 20px;
}

nav > a{
    margin: 0px;
    font-size: medium;
    padding: 6px;
    text-decoration: none;
    color: white;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color:#35BC71 ;
    border-radius: 5px;
}

main{
    background-color: white;
    margin: auto;
    min-width: 300px;
    max-width: 800px;
    margin-top: 0px;
    padding: 25px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 10px;
    text-decoration: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em ;
    line-height: 2em;
    font-family: Arial, Verdana, Helvetica, sans-serif
}

main strong{
    color: #0f703b;
}

main a{
    color: #143b26;
    background-color: #40c07a7a;
    padding: 2px 3px;
}

main a:hover{
    text-decoration: underline;
    color: #1A5C38;
}

div.video{
    background-color: #143b26;
    margin: 0px -25px 20px -25px;
    padding: 10px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

article > h1{
    margin-top: 0px;
    font-family: "Eu", Times, sans-serif;
    color: #247C4B;
}

main img{
    width: 100%;
}

main img#robo{
    max-width: 350px;
    display: block;
    margin: auto;
}

h2{
    font-family: "Eu", Times, sans-serif;
    color: #35BC71;
    background-image: linear-gradient(to right,#00ff736e, transparent 70%);
    background-color: #ffffff;
    text-indent: 8px;
}

abbr{
    text-decoration: none;
}

aside{
    background-color: #35BC71;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside > h3{
    background-color: #1A5C38;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px ;
}

aside > ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0';
}

footer{
    background-color: #143b26;
    color: white;
    text-align: center;
    padding: 5px;
}

footer a{
    color: white;
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline;
}